body{
	margin-top: 25%;
}

#searchText{
	width: 550px;
}


.center {
	width: 600px;
	margin: auto auto auto auto;
}

.center button{
	margin: auto 50px auto 50px;
	padding-left: 20px;
	padding-right: 20px;
}